body {
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	display: block;
	margin: 0 auto;
	max-width: 1024px;
	padding: 0 25px;
}

.logo {
    position: absolute;
    left: 162;
    top: 50%;
	z-index: 1;
}

.logo img {
	position: absolute;
	top: -50%;
}

.carousel {
	width: 100%;
	height: auto;
}

.carousel div {
	padding: 10px;
}

.carousel img {
	border: 5px solid #F00;
}
