body {
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	display: block;
	margin: 0 auto;
	max-width: 1024px;
	padding: 0 25px;
}

.logo {
    position: absolute;
    left: 180px;
    top: 300px;
	z-index: 1;
}

.carousel {
	width: 100%;
	height: auto;
}

.carousel div {
	padding: 20px;
}
